/************************************Buttons*****************************************/
.button{
        background-color: #c0c0c0;
	padding: 8px 16px;
	display: inline-block;
        text-decoration: none;
        border-radius: 3px;
        font: 14px sans-serif;
        margin-left: 4px;
        border: 0;
        outline: none;
        color: black;
        cursor: pointer;
}

.button_thin {
        background-color: #c0c0c0;
	padding: 4px 10px;
	display: inline-block;
        text-decoration: none;
        border-radius: 3px;
        font: 14px sans-serif;
        margin-left: 4px;
        border: 0;
        outline: none;
        color: black;
        cursor: pointer;
        float: right;
}

.button:hover{
    background-color: #f1f1f1;
}

.button_thin:hover{
    background-color: #f1f1f1;
}

