div#super {
	width: 768px;
	height: auto;
	margin: auto;
	background-color: #f1f1f1;
}

/********************************Banner***************************************/

div#header * {
	margin: 0;
	padding: 0;
}

div#header {
	height: 100px;
	width: auto;
	background-color: #FF9900;
	border: 10px double #9B1C00;
	border-radius: 5px;
  	//background: linear-gradient(to right, #FF9900 ,yellow); /* Standard syntax */
}

div#header p {
	margin: 0;
	padding: 0;
	text-align: right;
	float: right;
	margin-right: 20px;
	font-family: verdana;
	font-weight: bold;
	font-size: .8em;
	color: white;
	margin-top: 15px;
}

div#header img {
	margin: 0;
	padding: 0;
	width: 400px;

}

/**************************Left Nav bar***************************************/

div#main_page {
	margin: 0;
	padding: 0;
	margin-top: 2px;
}

div#left_navbar {
	margin: 0;
	padding: 0;
	float: left;
	clear: both;
	width: 30%;
	height: auto;
	text-align: center;
	border-top: 2px solid white;	
}

div#left_navbar ul {
	margin: 0;
	padding: 0;
	margin-top: 2px;
	height: auto;
	list-style: none;
}

div#left_navbar ul li {
	margin: 0;
	padding: 0;
}


div#left_navbar ul li a {
	margin: 0;
	padding: 0;
	display: block;
	line-height: 35px;
	text-decoration: none;
	font-family: verdana;
	font-size: 1em;
	color: black;
}

div#left_navbar ul li a:hover {
	background-color: #DFDFDF;
}


/*********************************Description****************************************/
div#description {
	margin: 0;
	padding: 0;
	width: 70%;
	float: right;
	background-color: white;
}

div#description table {
	width: 100%;
	table-layout: fixed;
}

div#description table a{
    text-decoration: none;
    color: black;
    font: 18px "Trebuchet MS";
}
.product_image {
	height: 143px;
	width: 143px;
}

.pro_description {
	border-bottom: 3px inset;
}

.price {
	padding-left: 15px;
	border-left: 1px inset;
}

.style_selector {
    background: transparent;
    height: 25px;
    padding: 4px 10px;
    width: 150px;
    border: 0;
    outline: none;
}

.product_status {
    color: #339900;
    text-align: right;
    font-size: 12px;
    font-style: italic;
}

/************************************Footer******************************************/
div#footer {
	margin: 0;
	padding: 0;
	clear: both;
	margin-top: 2px;
	text-align: center;
	background-color: #f1f1f1;
	line-height: 40px;
	border-top: 2px solid white;
}

div#footer p {
	margin: 0;
	padding: 0;
}