div#super {
	width: 768px;
	height: auto;
	margin: auto;
	background-color: #f1f1f1;
        font: "Trebuchet MS";
}

/********************************Banner***************************************/

header * {
	margin: 0;
	padding: 0;
}

header {
	height: 100px;
	width: auto;
	background-color: #FF9900;
	border: 10px double #9B1C00;
	border-radius: 5px;
  	//background: linear-gradient(to right, #FF9900 ,yellow); /* Standard syntax */
}

header p {
	margin: 0;
	padding: 0;
	text-align: right;
	float: right;
	margin-right: 20px;
	font-family: verdana;
	font-weight: bold;
	font-size: .8em;
	color: white;
	margin-top: 15px;
}

header img {
	margin: 0;
	padding: 0;
	width: 400px;

}

/**************************Top Nav bar***************************************/
nav {
	text-align: center;
	margin-top: 2px;
	border-top: 2px solid white;
}

.nav-bar {
    z-index: 150;
}

.nav-bar-scrolled {
    position: fixed;
    width: 100%;
    top: 0;
}

nav ul {
	list-style: none;
	margin: 0;
	margin-top: 1px;
	padding: 0;
	padding: 5px auto;
}

nav ul li {
	display: inline;
	text-align: center;
}

nav ul li a {
	margin: 0;
	padding: 0;
	width: 150px;
	display: inline-block;
	line-height: 35px;
	text-decoration: none;
	font-family: verdana;
	font-size: 1.2em;
	color: black;
}

nav ul li a:hover {
	background-color: #dfdfdf;
}

.fixed {
    position: fixed;
    top: 0;
}

.nav-placeholder {
    margin: 0 0 40px 0;
}

.right_border {
	border-right: 1px solid black;
	padding-right: 19px;
	padding-left: 17px;
}

.left_border {
	padding-left: 17px;
}

/**************************Left Nav bar***************************************/

div#main_page {
	margin: 0;
	padding: 0;
	margin-top: 2px;
}

div#left_navbar {
	margin: 0;
	padding: 0;
	float: left;
	clear: both;
	width: 30%;
	height: auto;
	text-align: center;
	border-top: 2px solid white;	
}

div#left_navbar ul {
	margin: 0;
	padding: 0;
	margin-top: 2px;
	height: auto;
	list-style: none;
}

div#left_navbar ul li {
	margin: 0;
	padding: 0;
}


div#left_navbar ul li a {
	margin: 0;
	padding: 0;
	display: block;
	line-height: 35px;
	text-decoration: none;
	font-family: verdana;
	font-size: 1em;
	color: black;
}

div#left_navbar ul li a:hover {
	background-color: #DFDFDF;
}


/*********************************Description****************************************/
div#breadcrumb {
    text-align: right;
    font: 10px sans-serif;
}

div#breadcrumb a {
    text-decoration: none;
    color: black;
    font: 10px sans-serif;
}

div#description {
	margin: 0;
	padding: 0;
	width: 70%;
	float: right;
	background-color: white;
}

div#description p {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	line-height: 1.5em;
	padding: 10px;
	background-color: white;
}

p#goal {
	font: Georgia;	
	font-size: 1.5em;
	font-family: serif;
}

p#goal u{
	font-style: italic;
}
ul#scenarios {
	width: 75%;
	margin: auto;
	border: 2px solid black;
}


/************************************Footer******************************************/
footer {
	margin: 0;
	padding: 0;
	clear: both;
	margin-top: 2px;
	text-align: center;
	background-color: #f1f1f1;
	line-height: 40px;
	border-top: 2px solid white;
}

footer p {
	margin: 0;
	padding: 0;
}

.error {
    color: red;
    font-size: .8em;
}