
/*********************************Description****************************************/
div#description {
	width: 70%;
	float: right;
	background-color: white;
        font: auto "Trebuchet MS";

}

div#description h3,table {
	padding-left: 15px;
        font: "Trebuchet MS";
}

div#description table {
	width: 100%;
	table-layout: fixed;
}

.product_image {
	height: 143px;
	width: 143px;
}
/*div#description table td {
	border: 1px solid black;
}
*/
.nutrition {
	
}

.pro_description {
	border-bottom: 3px inset;
}

.price {
	padding-left: 15px;
	border-left: 1px inset;
}
